In [6]:
import pandas as pd
import numpy as np

dat  = pd.DataFrame({'cnst': {'aic': 10, 'pars': [3,2]}, 'poly': {'aic': 1, 'pars': [1,2]}},)
dat.na
ok = dat.groupby("aic")["model_val"].apply(float).to_dict()


print(ok)

        cnst    poly
aic       10       1
pars  [3, 2]  [1, 2]

In [10]:
import numpy as np

conc = np.array([3.999999999999996336e-01,8.000000000000000444e-01,1.999999999999998890e+00,2.999999999999996891e+00,6.000000000000004441e+00,1.000000000000000000e+01,1.999999999999993960e+01,5.000000000000014921e+01,1.000000000000000000e+02,1.999999999999994031e+02,3.999999999999996336e-01,8.000000000000000444e-01,1.999999999999998890e+00,2.999999999999996891e+00,6.000000000000004441e+00,1.000000000000000000e+01,1.999999999999993960e+01,5.000000000000014921e+01,1.000000000000000000e+02,1.999999999999994031e+02]
)
resp = np.array([-8.719742146944760297e-02,-9.774991736179880486e-02,-8.214393665277350265e-02,-3.453826475927609940e-02,-1.762364938756379867e-02,-1.759740068589209921e-02,-6.070877762257729723e-03,-8.248708765747840566e-03,-3.684346960251209946e-02,-4.811079652096880016e-02,-4.302022902260770054e-02,-5.000267262723299966e-02,-5.484071064052099820e-02,-3.044109952831459964e-02,-7.745970823357150280e-03,6.006498515677900080e-02,1.871952371310240115e-01,1.844758965745199875e-01,9.770142644693470546e-02,6.899421757964109558e-02]
)
unique_conc = np.unique(conc)

print(resp[conc == unique_conc[0]])
print(conc == unique_conc[0])

print(f"unique_conc: {unique_conc}")    
rmds = np.array([np.median(resp[conc == c]) for c in unique_conc])
print(f"rmds: {rmds}")

[-0.08719742 -0.04302023]
[ True False False False False False False False False False  True False
 False False False False False False False False]
unique_conc: [  0.4   0.8   2.    3.    6.   10.   20.   50.  100.  200. ]
rmds: [-0.06510883 -0.07387629 -0.06849232 -0.03248968 -0.01268481  0.02123379
  0.09056218  0.08811359  0.03042898  0.01044171]

In [9]:
conc = np.array([1,2,-3])
am = conc[np.argmax(np.abs(conc))]
# am = np.max(np.abs(conc))
print(f"am: {am}")

am: -3

In [35]:
import numpy as np
import scipy.linalg as la
import matplotlib.pyplot as plt
import scipy.optimize as opt

hess = np.array([[1, 2], [0, 1]])


cov = np.linalg.inv(hess)
diag_sqrt = np.sqrt(np.diag(cov))
print(diag_sqrt)


# function definition
def f(x):
    return np.cos(x[0]) + np.sin(x[1])

# # Jacobian of function
# def Jf(x):
#     return np.array([-np.sin(x[0]), np.cos(x[1])])
# np.random.seed(0)
# x0 = np.random.rand(2)
# print(x0)

# %time sol1 = opt.minimize(f, x0)
# print(sol1)

[1. 1.]

In [29]:
id = 5
id = list(map(str, id))
 
print(id)

TypeError: 'int' object is not iterable

In [22]:
import pandas as pd
import numpy as np


coff = [1,2]
e1 = f"coff = {coff + [0.3]}"
print(e1)

df = pd.DataFrame({'A': [[0, 1, 2], 'foo', [], [3, 4]],
                   'B': 1,
                   'C': [['a', 'b', 'c'], np.nan, [], ['d', 'e']]})
print(df)
# exploded = df.explode('A')
# print(exploded)


def mc5_mthds():
    return {
        'bmad3': lambda df: df['B'].aggregate(lambda x: x.unique()*3),
    }

dict = mc5_mthds()

f = dict['bmad3']
print("______________________")
print(f(df = df))

# print(mc5_mthds(df)['bmad3'])

# df.apply(lambda x: x.A.apply(pd.Series.explode))

coff = [1, 2, 0.3]
           A  B          C
0  [0, 1, 2]  1  [a, b, c]
1        foo  1        NaN
2         []  1         []
3     [3, 4]  1     [d, e]
______________________
[3]

In [ ]:
import numpy as np
import pandas as pd
from scipy.stats import t, norm
from mad import mad

def f(err): 
  return np.sum(t.logpdf((resp - mu) / err, df=4) - np.log(err))

cnst = [1,2,3,4,5]
resp = [1,2,3,4,6]
mu = np.zeros(len(cnst))
er_est = np.log(rmad) if (rmad := mad(resp)) > 0 else np.log(1e-32)
p = np.exp(er_est)
print(np.log(p))
print(f(p))

In [ ]:
technologies = {
    'Courses':["Spark","PySpark","Python","pandas"],
    'Fee' :[20000,25000,22000,30000],
    'Duration':['30days','40days','35days','50days'],
    'Discount':[1000,2300,1200,2000]}
df = pd.DataFrame(technologies)
print(df)
# Below are quick examples.
# Insert list into cell using df.at().
# df.at[1, 'Duration'] = {"h":1}#['30days', '35days']
print(df)
# # Insert list index into cell by df.iat() method.
# df.iat[1, df.columns.get_loc('Duration')] = ['30days', '35days']
# # Get list index into cell using df.loc() attribute.
df.loc[:, 'new'] = [ {"a":1}, {"b":2}, {"c":3}, {"d":4}]
print(df)

In [ ]:
qformat = "SELECT m4id, aeid, tmpi FROM mc4 WHERE aeid IN ({})"
ids = df["Courses"].unique()
qstring = qformat.format(",".join(["'" + str(i) + "'" for i in ids]))
print(qstring)

In [ ]:
import yaml
with open("config.yaml", "r") as f:
    config = yaml.load(f, Loader=yaml.FullLoader)
print(config['DATABASE']['USERNAME'])

In [ ]:
import os
mb = ".".join([os.getlogin()])
print(mb)

In [ ]:
qformat = "SELECT m5id, m4id, aeid FROM mc5 WHERE aeid IN (%s);"
ids = [1,2,3,4,5]
qstring = qformat % ",".join('"' + str(id) + '"' for id in ids)
print(qstring)